/*
*/
*	{
	  margin:0px;
      padding:0px;
      font-size:15px;
	}
h1 	{
	  text-align:center;
	}
.login
	{
		/*background:#45B39D;*/
		background: rgba(0.8);
		text-align:center;
		background:rgba(69,179,157,0.5);
		/*color: #D98880  ;*/
		color:#1F618D;
		width:600px;
		margin:10px auto;
	}
.login_x
	{
		/*background:#45B39D;*/
		background: rgba(69,179,157,0.8);
		text-align:center;
		/*color: #D98880  ;*/
		color:#1F618D;
		width:300px;
		margin:10px auto;
		height:100%;
		float:left;
	}
.fld
	{
		width:400px;
		margin:10px;
		padding:10px;
		border-radius:10px;
		
	}
.fldx
	{
		width:190px;
		margin:10px;
		padding:10px;
		border-radius:10px;
		
	}
.btn 
	{
		border:none;
		background:#1F618D;
		width:150px;
		margin:10px;
		padding:10px;
		border-radius:10px;
		color:white;
	}
.btnd 
	{
		border:none;
		background:#1F618D;
		width:250px;
		margin:10px;
		padding:20px;
		border-radius:10px;
		color:white;
	}
a   {
	text-decoration:none;
	color:white;
    }
 .menubar{
	    text-align:center;
		background-color:#00cc99;
		}
		
.menubar ul 
       {
		display:inline-flex;
		list-style:none;
	   }
	   
.menubar ul li
       {
	    width:120px;
	    padding:15px;
	    margin:15px;
	   }
	   
.menubar ul li:hover
       {
		background-color:#ff6666;
		border-radius:10px;
	   }
	   
.menubar ul li a
       {
	    color:white;
		text-decoration:none;
	   }
	   
.submenu
       {
	    display:none;
		z-index:1;
	   }
	   
.menubar ul li:hover .submenu
       {
	    display:block;
		position:absolute;
		background:#00cc99;
		margin-top:15px;
		margin-left:-22px;
		border-radius:10px;
		text-align: center;
	   }
	   
.menubar ul li:hover .submenu ul
       {
		display:block;
		margin:10px;
	   }
.menubar ul li:hover .submenu ul li
       {
		width:80px;
		padding:10px;
		border-bottom:1px solid white;
	   }
.contents
	{
       height:150px;
       background:rgba(0,0,0,0.5);
       text-align:center;
	}
